In [ ]:
# 조건문

In [4]:
# 예제 1
num = int(input("정수를 입력하세요."))

print(num)
if (num % 2 == 0):
    print(f"{num}은 짝수 입니다.")

정수를 입력하세요. 10

10
10은 짝수 입니다.

In [5]:
# if ~ else문
num = 10
if (num == 10):
    print('참')
else:
    print('거짓')

참

In [9]:
# 짝수, 홀수 판단
num = int(input("정수 입력: "))

if (num % 2 == 0):
    print("짝수")
else:
    print("홀수")

정수 입력:  1

홀수

In [11]:
num1 = int(input("숫자1을 입력하시오."))
num2 = int(input("숫자2을 입력하시오."))

if (num1 > num2):
    max_num = num1
    min_num = num2
else:
    max_num = num2
    min_num = num1

print(f"큰 수 = {max_num}, 작은 수 = {min_num}")

숫자1을 입력하시오. 11
숫자2을 입력하시오. 11

큰 수 = 11, 작은 수 = 11

In [14]:
# 예제 2
num = int(input("정수를 입력하시오. : "))

if (num > 0):
    print("양수입니다.")
else:
    print("음수입니다.")

정수를 입력하시오. :  2

양수입니다.

In [15]:
# 예제 3

num1 = int(input("숫자1을 입력하시오."))
num2 = int(input("숫자2을 입력하시오."))

if (num1 == num2):
    print("숫자가 같습니다.")
else:
    print("같지 않습니다.")

숫자1을 입력하시오. 10
숫자2을 입력하시오. 10

숫자가 같습니다.

In [16]:
# 예제 4
age = int(input("나이를 입력하시오. : "))

if (age >= 18):
    print("18세 이상입니다.")
else:
    print("18세 미만입니다.")

나이를 입력하시오. :  10

18세 미만입니다.

In [19]:
num1 = int(input("숫자1을 입력하시오."))
num2 = int(input("숫자2을 입력하시오."))

if (num1 == num2):
    max_num = min_num = num1
    print("두 수는 같습니다.")
else:
    if (num1 > num2):
        max_num = num1
        min_num = num2
    else:
        max_num = num2
        min_num = num1
    print(f"큰 수 = {max_num}, 작은 수 = {min_num}")

숫자1을 입력하시오. 10
숫자2을 입력하시오. 11

큰 수 = 11, 작은 수 = 10

In [20]:
age = int(input("나이를 입력하시오. : "))

if (age > 0):
    if (age < 13):
        print("어린이입니다.")
    elif (age < 20):
        print("청소년입니다.")
    else:
        print("성인입니다.")
else:
    print("올바른 나이를 입력하시오.")

나이를 입력하시오. :  10

어린이입니다.

In [26]:
# 예제 5
city = input("(울주군, 중구, 북구, 남구, 동구 중) 주소지의 구를 입력하시오. :")
price = int(input())

if (city == "울주군"):
    if (price >= 40000):
        deliver = 0
    else:
        deliver = 3000
else:
    if (price >= 20000):
        deliver = 0
    else:
        deliver = 2000

print(f"배송비는 {deliver}원 입니다.")

(울주군, 중구, 북구, 남구, 동구 중) 주소지의 구를 입력하시오. : 동구
 5000

배송비는 2000원 입니다.

In [28]:
num1 = int(input("숫자1을 입력하시오."))
num2 = int(input("숫자2을 입력하시오."))

if (num1 == num2):
    max_num = min_num = num1
    print("두 수는 같습니다.")
elif (num1 > num2):
    max_num = num1
    min_num = num2
else:
    max_num = num2
    min_num = num1
print(f"큰 수 = {max_num}, 작은 수 = {min_num}")

숫자1을 입력하시오. 10
숫자2을 입력하시오. 10

두 수는 같습니다.
큰 수 = 10, 작은 수 = 10

In [29]:
x = int(input("첫 번째 수 : "))
y = int(input("두 번째 수 : "))

max_num = x if x > y else y
print(f"더 큰 수는 {max_num}입니다.")

첫 번째 수 :  10
두 번째 수 :  12

더 큰 수는 12입니다.

In [33]:
num = int(input("숫자를 입력하시오."))

result = "양수" if num > 0 else "음수" if num < 0 else "0"
print(f"{num}은 {result}입니다.")

숫자를 입력하시오. 10

10은 양수입니다.

In [35]:
# 예제 6
age = int(input("나이를 입력하시오. : "))
height = int(input("키를 입력하시오. : "))

if (age >= 8):
    if (height >= 140):
        print("고속 롤러코스터 입장!")
    else:
        print("저속 롤러코스터 입장!")
else:
    print("입장 불가능!")

나이를 입력하시오. :  10
키를 입력하시오. :  100

저속 롤러코스터 입장!

In [36]:
# 예제 7
score = int(input("성적을 입력하시오. : "))

if (score >= 90):
    result = "A"
elif (score >= 80):
    result = "B"
elif (score >= 70):
    result = "C"
elif (score >= 60):
    result = "D"
else:
    result = "F"

print(f"학점은 {result}입니다.")

성적을 입력하시오. :  98

학점은 A입니다.

In [41]:
# 예제 8
PI = 3.14

m_size = 20
l_size = 30

if (m_size ** 2 * PI * 2 > l_size ** 2 * PI):
    print("m사이즈가 이득입니다.")
else:
    print("l사이즈가 이득입니다.")

l사이즈가 이득입니다.

In [ ]:
# 반복문

In [37]:
for i in range(10):
    print(f"i value는 {i}")

i value는 0
i value는 1
i value는 2
i value는 3
i value는 4
i value는 5
i value는 6
i value는 7
i value는 8
i value는 9

In [38]:
for i in range(1, 10, 2):
    print(f"i value는 {i}")

i value는 1
i value는 3
i value는 5
i value는 7
i value는 9

In [43]:
for i in range(2, 8):
    print(f"i value는 {i}")

i value는 2
i value는 3
i value는 4
i value는 5
i value는 6
i value는 7

In [45]:
for i in range(8, 2, -2):
    print(f"i value는 {i}")

i value는 8
i value는 6
i value는 4

In [46]:
# range() 함수
# 특정 구간의 숫자의 범위를 만들어주는 함수
# 리스트나 튜플과 함께 사용

a = list(range(5))
b = list(range(1, 5))

print(a, b)

[0, 1, 2, 3, 4] [1, 2, 3, 4]

In [48]:
# for문 : 시퀀스 객체로 반복하기
name = "Ulsan" # 문자열
for i in name:
    print("i value :", i)

i value : U
i value : l
i value : s
i value : a
i value : n

In [49]:
li = ['One', 'Two', 'Three']
for i in li: # 리트트
    print(i)

One
Two
Three

In [51]:
tu = ('One', 'Two', 'Three')
for i in tu: # 튜플
    print(i)

One
Two
Three

In [57]:
num = 0
for i in range(1, 11):
    num += i

print(f"1부터 10까지의 합은 {num}")

10
1부터 10까지의 합은 55

In [66]:
# 예제 9
for i in range(10):
    print("Happy Christmas!")
    
for i in range(5):
    print(i, end=" ")
    
print("")

for i in range(0, 10, 2):
    print(i, end=" ")

print("")

for i in range(-2, -10, -2):
    print(i, end=" ")
    
print("")

num = 0
for i in range(1, 21):
    num += i
print(num)

Happy Christmas!
Happy Christmas!
Happy Christmas!
Happy Christmas!
Happy Christmas!
Happy Christmas!
Happy Christmas!
Happy Christmas!
Happy Christmas!
Happy Christmas!
0 1 2 3 4
0 2 4 6 8
-2 -4 -6 -8
210

In [4]:
# 예제 10
num = int(input("숫자를 입력하시오. : "))

n = 0
for i in range(1, num + 1):
    n += i

print(f"1에서 {num}까지의 합계는 {n}")

1에서 31까지의 합계는 496

In [6]:
# 예제 11
num = int(input("약수를 구할 수 입력 : "))

for i in range(1, num + 1):
    if (num % i == 0):
        print(i, end = " ")

1 2 4 5 8 10 20 40

In [8]:
# 예제 12
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i} * {j} = {i * j}")
    print("")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81