In [ ]:
print("Hello world")

Hello world

In [1]:
x = 100
y = 200
s = x + y
print("합은", s)

합은 300

In [8]:
age = 13
num1 = 100_000
num2 = 23_000
p = 123.456
q = 3 - 4*p
name = 'Python'
grade = ['A+', 'A0', 'B+']
a = 8 + 2j
b = 4 + 3j

print(num1, num2, num1+num2)
print(age, name)
print(grade)
print([name, age, grade])
print(q)
print('a + b = ', a + b)

100000 23000 123000
13 Python
['A+', 'A0', 'B+']
['Python', 13, ['A+', 'A0', 'B+']]
-490.824
a + b =  (12+5j)

In [11]:
print(type(age))
print(type(num1))
print(type(name))
print(type(q))
print(type(a))
print(type(grade))

print(id(age))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'list'>
140708748969128

In [12]:
a = 10; b = 20; c = 30
x, y = 10, 20
i = j = k = 20000

print(a, b, c)
print(x, y)
print(i, j, k)

10 20 30
10 20
20000 20000 20000

In [14]:
age = 13
name = 'Python'
print(name, age)

Python 13

In [16]:
del age # del : 변수 제거
print(name, age)

NameError: name 'age' is not defined

In [17]:
# 리스트의 값을 변수에 저장
num1, num2, num3 = [10, 20, 30]
print(num1, num2, num3)

10 20 30

In [19]:
# 튜플의 값을 변수에 저장
num4, num5, num6 = (40, 50, 60)
print(num4, num5, num6)

40 50 60

In [26]:
a = 100; b = '123'
print(f"정수형 a = {a}, 실수형 a = {float(a)}, 문자형 b = {b}")
b = int(b)
print(f"b의 자료형 = {type(b)}")
print(f"a + b = {a+b}")

정수형 a = 100, 실수형 a = 100.0, 문자형 b = 123
b의 자료형 = <class 'int'>
a + b = 223

In [33]:
# 예제 1
x = 5; y = 10
print(x + y)

15

In [48]:
# 예제 2
name = "노희완"
print("안녕하세요", name + "님") # 자바에서만 + 되는줄;; 파이썬은 , + 둘 다 된다.

안녕하세요 노희완님

In [36]:
# 예제 3
a = 7; b = 3.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [38]:
# 예제 4
greeting = "Hello"
print(greeting * 3)

HelloHelloHello

In [50]:
# 예제 5
int_num = 5
float_num = 2.5
result = int_num + float_num

print(result)
print(type(result))

7.5
<class 'float'>

In [41]:
# 예제 6

In [42]:
# 예제 7

In [43]:
# 예제 8

In [61]:
# 음성 메세지 출력 라이브러리
# pip install pyttsx3

In [63]:
import pyttsx3

name = '노희완'
message = name + '은 집에가고 싶다.\n집에 보내줘요!'

print(message)

engine = pyttsx3.init()
engine.say(message)
engine.runAndWait()

노희완은 집에가고 싶다.
집에 보내줘요!