In [1]:
name = input("이름을 입력하시오")

이름을 입력하시오 노희완

In [2]:
name

'노희완'

In [3]:
print(name + '씨 안녕하세요.')

노희완씨 안녕하세요.

In [7]:
name = input('이름을 입력하시오.')
num = input('점수 :')
print(type(name), type(num))
print('name : ', name, 'jumsu : ', num)

이름을 입력하시오. 노희완
점수 : 99

<class 'str'> <class 'str'>
name :  노희완 jumsu :  99

In [8]:
name = input('name :')
kor = input('kor :')
mat = input('mat :')

print('name :', name, 'sum :', kor + mat)
print('name :', name, 'sum :', int(kor) + int(mat))

name : 노희완
kor : 88
mat : 77

name : 노희완 sum : 8877
name : 노희완 sum : 165

In [9]:
name = input('name :')
kor = int(input('kor :'))
mat = int(input('mat :'))

print('name :', name, ', sum =', kor + mat)
print(type(kor))

name : 노희완
kor : 88
mat : 99

name : 노희완 , sum = 187
<class 'int'>

In [10]:
a = 100; b = 16

print('a + b =', a+b)
print('a - b =', a-b)
print('a * b =', a*b)
print('a % b =', a%b)
print('a / b =', a/b)
print('a // b =', a//b)

a + b = 116
a - b = 84
a * b = 1600
a % b = 4
a / b = 6.25
a // b = 6

In [11]:
# 예제 1
a = int(input("첫번째 정수를 입력하시오. :"))
b = int(input("두번째 정수를 입력하시오. :"))
sum = a + b
print(sum)

첫번째 정수를 입력하시오. : 10
두번째 정수를 입력하시오. : 20

30

In [1]:
# 예제 2
a = int(input("첫번째 정수를 입력하시오. :"))
b = int(input("두번째 정수를 입력하시오. :"))
sum = a + b
min = a - b
mul = a * b
div = a / b

print(a, '+', b, '=', sum)
print(a, '-', b, '=', min)
print(a, '*', b, '=', mul)
print(a, '/', b, '=', div)

print(f"{a} + {b} = {sum}")
print(f"{a} - {b} = {min}")
print(f"{a} * {b} = {mul}")
print(f"{a} / {b} = {div}")

첫번째 정수를 입력하시오. : 60
두번째 정수를 입력하시오. : 4

60 + 4 = 64
60 - 4 = 56
60 * 4 = 240
60 / 4 = 15.0
60 + 4 = 64
60 - 4 = 56
60 * 4 = 240
60 / 4 = 15.0

In [25]:
# 예제 3
cow = int(input("소의 수를 입력하시오 :"))
pig = int(input("돼지의 수를 입력하시오 :"))
chic = int(input("닭의 수를 입력하시오 :"))

sum = cow * 4 + pig * 4 + chic * 2

print("전체 다리의 수는", sum, "입니다.")
print(f"전체 다리의 수는 {sum} 입니다.")

소의 수를 입력하시오 : 7
돼지의 수를 입력하시오 : 5
닭의 수를 입력하시오 : 4

전체 다리의 수는 56 입니다.
전체 다리의 수는 56 입니다.

In [ ]:
# 할당 연산자 (대입 연산자)
x = 99
y = '노희완'
number = 106
result = number / x

In [16]:
x = y = z = 0 # 한번에 여러개의 변수 초기화
x, y, z = 10, 20, 30 # 한번에 여러개의 변수에 할당
print(x, y, z)
x, y = y, x # x와 y의 값을 서로 교환한다. (파이썬은 가능하다?)
print(x, y, z)

10 20 30
20 10 30

In [18]:
def change(x, y):
    x, y = y, x
    return x, y

def reference(x, y):
    tmp = x
    x = y
    y = tmp
    return x, y

x = 10
y = 20
print(x, y)
print(change(x, y))
print(reference(x, y))

10 20
(20, 10)
(20, 10)

In [10]:
# 복합 연산자
total = 10
total += 5
print(total)

15

In [12]:
score = 100
score -= 20
print(score)

80

In [14]:
points = 10
points *= 2
print(points)

20

In [15]:
price = 100
price /= 4
print(price)

25.0

In [19]:
# 관계 연산자
distance = 10
n =  distance > 3

print(n)

True

In [20]:
s1 = '노인과 바다'
s2 = '노인과 바다'

print(s1 == s2)

True

In [23]:
s1 = '노인과 버터'
s2 = '노인과 바다'

print(s1 < s2)
print(s1 != s2)

False
True

In [24]:
a = 10; b = 9
print(a > b, a < b, a == b, a != b, a >= b, a <= b)
print('-' * 10)
print((a > b) and (a == b))
print((a > b) or (a == b))
print(not(a), not(a < b))

True False False True True False
----------
False
True
False True

In [28]:
# 예제 4
import random

x = random.randint(1, 100)
y = random.randint(1, 100)
print(x, y)

num = int(input("두 수의 합을 입력하시오."))
print(num == (x + y))

1 77

두 수의 합을 입력하시오. 78

True

In [34]:
# 예제 5
num = int(input('세 자리 정수를 입력하시오.'))
a = num // 100
b = num % 100 // 10
c = num % 100 % 10

print('백의자리 :', a)
print('십의자리 :', b)
print('일의자리 :', c)

세 자리 정수를 입력하시오. 123

백의자리 : 1
십의자리 : 2
일의자리 : 3

In [42]:
# 예제 6
price = int(input("물건의 가격을 입력하시오."))
money = int(input("받은 금액 : "))
print("거스름돈은 다음과 같습니다.")

def calc(x, y):
    min = x - y
    m_500 = min // 500
    m_100 = min % 500 // 100
    m_10 = min % 100 // 10
    m_1 = min % 10

    print(f"거스름돈은 {min} 이며 500원 {m_500}개, 100원 {m_100}개, 10원 {m_10}개, 1원 {m_1}개")
    print("거스름돈은", min, "이며 500원", m_500, "개 100원", m_100, "개 10원", m_10, "개 1원", m_1, "개")
calc(money, price)

물건의 가격을 입력하시오. 250
받은 금액 :  1000

거스름돈은 다음과 같습니다.
거스름돈은 750 이며 500원 1개, 100원 2개, 10원 5개, 1원 0개
거스름돈은 750 이며 500원 1 개 100원 2 개 10원 5 개 1원 0 개

In [62]:
# 예제 7
import datetime

# 오늘의 요일
today = datetime.datetime.now().weekday()
# 요일 리스트
week = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일']

num = int(input("날짜를 입력하시오."))
next_day = today + (num % 6)

print(week[next_day])

날짜를 입력하시오. 0

화요일

In [68]:
# f-String
name = "Noh"
city = "ulsan"
x = 12345; y = 3; z = 3.1415

print(f"나는 {city}에 살고 있는 {name}입니다.")
print(f"x + y = {x+y} | x * y = {x*y}")
print(f"z의 값은 {z:.2f}")

나는 ulsan에 살고 있는 Noh입니다.
x + y = 12348 | x * y = 37035
z의 값은 3.14